.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.landing-page-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f5f8), to(#d6dce1));
  background-image: linear-gradient(#f3f5f8, #d6dce1);
  height: 120vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-page-introduction {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page-feature-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.landing-page-footer-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 60%;
}

.about-us-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.landing-company-title {
  font-family: Candal;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: #ec3b09 !important;
}

.about-us-content {
  font-style: italic;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  word-wrap: break-word;
  text-align: center;
}

.landing-page-button-holder {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.signup-form-page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.signup-form {
  width: 40%;
  padding: 12px 80px;
  border-radius: 13px;
  min-width: 450px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f5f8), to(#d6dce1));
  background-image: linear-gradient(#f3f5f8, #d6dce1);
  box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.spinner-container {
  width: 100%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
}
/*# sourceMappingURL=App.css.map */